- semantic_form_for @<%= singular_name %> do |f|
  = f.error_message_on :base
  - f.inputs do
    <%- for attribute in attributes -%>
    = f.input :<%= attribute.name %>
    <%- end -%>
  = f.buttons
