- title t('edit_title', :model => <%= class_name %>.human_name)

<%= render_form %>

<%- if actions? :show, :index -%>
%p
<%= render_link :show , :ident => 1 -%>
<%= render_link :index, :ident => 1 -%>
<%- end -%>
