- title <%= class_name %>.human_name(:count => 2)

%table
  %tr
    <%- for attribute in attributes -%>
    %th= <%= class_name %>.human_attribute_name('<%= attribute.name %>')
    <%- end -%>
  - for <%= singular_name %> in @<%= plural_name %>
    %tr
      <%- for attribute in attributes -%>
      %td= h <%= singular_name %>.<%= attribute.name %>
      <%- end -%>
<%= link :show, :ident => 3, :tag => :td, :instance_variable => false -%>
<%= link :edit, :ident => 3, :tag => :td, :instance_variable => false -%>
<%= link :destroy, :ident => 3, :tag => :td, :instance_variable => false -%>

<%- if actions? :new -%>
<%= link :new, :tag => :p -%>
<%- end -%>
