- title <%= class_name %>.human_name

<%- for attribute in attributes -%>
%p
  %strong
    = <%= class_name %>.human_attribute_name('<%= attribute.name %>')+':'
  =h @<%= singular_name %>.<%= attribute.name %>
<%- end -%>

%p
<%= render_link :edit, :ident => 1 %>
<%= render_link :destroy, :ident => 1 %>
<%= render_link :index, :ident => 1 %>
